@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">RecipeList</h1>
</div>
<div>
    <a asp-page="/Recipes/AddRecipe">Create New</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>IsVegetarian</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RecipeList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.IsVegetarian</td>
                    <td>
                        @*Name中包含2 显示“Edit”标签*@
                        @if (User.Identity.Name.Contains("2"))
                        {
                            <a asp-page="/Recipes/EditRecipe" asp-route-recipeId="@item.RecipeId">Edit</a>
                        }

                        <a asp-page-handler="Detial" asp-route-recipeId="@item.RecipeId">Detial</a>
                        <a asp-page-handler="Delete" asp-route-recipeId="@item.RecipeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ul>
    </ul>
</div>
